<launch>
    <node pkg="factor_curved_track" type="dets_transform.py" name="dets_transform" output="screen"/>
    <node pkg="factor_curved_track" type="trks_transform.py" name="trks_transform" output="screen"/>
    <node pkg="factor_curved_track" type="data_associate.py" name="data_associate" output="screen"/>
    <node pkg="factor_curved_track" type="factor_manage" name="factor_manage" output="screen"/>
    <node pkg="factor_curved_track" name="detections_puber" output="screen" type="detections_puber.py"/> 
</launch>
